<div class="reset">
    <div class="email">
        <div class="first">
            <h4>Change Password </h4>
            <form action="" [formGroup]="change" (submit)="changePassword()">
                <input type="text " placeholder="Old Password" formControlName="oldPassword">
                <p *ngIf="test==2"> wrong old password </p>
                <input type="text" placeholder="New Password " formControlName="newPassword">
                <button> Save Change </button>
            </form>
            <p *ngIf="test==1"> change success </p>
        </div>

    </div>
</div>