<div class="reset">
    <div class="email">
        <div class="first">
            <h4>Password Reset</h4>
            <form action="" [formGroup]="reset" (submit)="getreset()">
                <p>We’ll send a password reset link to this email.</p>
                <input type="email" placeholder="Email" formControlName="email">
                <button>Password Reset</button>
            </form>
            <p *ngIf="this.count"><span style=" color:red ">Password is :</span> {{this.count}}</p>
        </div>
        <div class="second ">
            <button routerLink="/signup">Create new Ecwid account</button>
            <button routerLink="/login">Sign In</button>
        </div>
    </div>
</div>
